@import 'gallery-list-header';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.gallery {
  display: grid;
  gap: 1rem;

  @include media-breakpoint-only(xs) {
    grid-template-areas: "item";
  }

  @include media-breakpoint-only(sm) {
    grid-template-areas: "item";
  }

  @include media-breakpoint-only(md) {
    grid-template-areas: "item item item";
  }

  @include media-breakpoint-only(lg) {
    grid-template-areas: "item item item item";
  }

  @include media-breakpoint-only(xl) {
    grid-template-areas: "item item item item item";
  }

  @include media-breakpoint-only(xxl) {
    grid-template-areas: "item item item item item";
  }

  .photo-item-container {
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 8px 7px 19px rgba(39,44,49,.24),
                1px 2px 4px rgba(39,44,49,.12);
    transform: scale(1);
    transition: box-shadow .2s ease-in-out,
                transform .2s ease-in-out;

    &:hover {
      box-shadow: 8px 14px 30px rgba(39,44,49,.28),
                  1px 3px 10px rgba(39,44,49,.16);
      transform: scale(1.02);
    }

    .photo-image {
      border-radius: 4px;
      transition: box-shadow cubic-bezier(0.33, 0, 0.66, 1) .3s;
      background-position: center;
      background-size: cover;

      &::selection {
        background-color: rgba(0, 0, 0, 0);
      }

      & > .square {
        position: relative;
        width: 100%;

        opacity: 0;
        border-radius: 4px;
        text-align: center;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
    }
  }
}
