@import '../../material_design_colors';
@import '~katex/dist/katex.min.css';
@import '~highlight.js/styles/vs2015.css';

/**
 * Posts
 **/
.mainPage {
  position: relative;

  .card {
    background-color: white !important;
    box-shadow: 8px 14px 38px rgba(39,44,49,.12),
                1px 3px 8px rgba(39,44,49,.06);
    transition: box-shadow .25s ease-in-out,
                transform .25s ease-in-out;

    flex: 1 1 300px;
    margin: 0 20px 50px;
    min-height: 300px;
    cursor: pointer;

    &:hover {
      box-shadow: 8px 28px 50px rgba(39,44,49,.14),
                  1px 6px 12px rgba(39,44,49,.08);
      transform: scale(1.02);
    }

    .post_thumb {
      height: 300px;
      overflow: hidden;
      position: relative;
      border-radius: 4px 4px 0 0;
      background: no-repeat center;
      background-size: cover;

      .post_url {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        transition: opacity .2s linear;
      }
    }

    .card-title, .card-title * {
      color: $md-grey-800;
    }

    .card-text, .card-text * {
      color: $md-grey-600;
    }

    .darkmode & {
      background-color: #414141 !important;

      .card-title, .card-title * {
        color: $md-grey-100;
      }

      .card-text, .card-text * {
        color: $md-grey-300;
      }
    }
  }
}

.postPage {
  position: relative;
  font-size: 16px;
  margin-bottom: 20px;

  header {
    text-align: center;
    margin-bottom: 20px;

    section, section * {
      color: #444;

      .darkmode & {
        color: #ddd;
      }
    }
  }

  .header-figure {
    position: relative;
    width: 100%;
    margin: 0;
    background: no-repeat center;
    background-size: cover;
    border-radius: 3px;
    padding-bottom: 55%;
  }

  .content {
    margin-top: 30px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  img {
    max-width: 100%;
    height: auto
  }

  iframe.yt {
    position: relative;
    border: none;
    left: 50%;

    @media (max-width: 767px) {
      width: 320px;
      height: 240px;
      margin-left: -160px;
    }

    @media (min-width: 768px) {
      width: 640px;
      height: 360px;
      margin-left: -320px;
    }

    @media (min-width: 992px) {
      width: 853px;
      height: 480px;
      margin-left: -427px;
    }

    @media (min-width: 1400px) {
      width: 1280px;
      height: 720px;
      margin-left: -640px;
    }
  }

  pre {
    background-color: #1e1e1e;
    max-height: 80vh;

    code {
      word-wrap: normal;

      &, & > span:not([class^="hljs-"]) {
        color: #eee;
      }
    }
  }

  blockquote {
    background-color: #ddd;
    border-radius: 3px;
    padding: 5px 5px 5px 15px;

    .darkmode & {
      background-color: #666;
      color: white;
    }

    & > p:last-child {
      margin: 0;
    }
  }
}

.circle-button {
  background-color: $accent-color;
  border-radius: 30px;
  width: 48px;
  height: 48px;
  box-shadow: rgba(0,0,0,0.35) 0 2px 7px;
  cursor: pointer;
  position: fixed;
  z-index: 1035;
  transition: box-shadow .2s ease-in-out;

  i {
    font-size: 22px;
    padding: 13px 13px;
    color: white;
  }

  &.back, &.share {
    position: fixed !important;
  }

  &:hover {
    box-shadow: rgba(0,0,0,0.35) 0 3px 10px 2px;
  }
}

.share-modal {
  .modal-content {
    border-radius: 3px;

    .modal-header {
      border: none
    }

    .modal-body {
      padding: 15px 0;

      .share-link {
        position: relative;
        padding: 5px 15px;
        width: 100%;
        font-size: 24px;

        *::selection {
          background: transparent;
        }
      }
    }
  }
}


@keyframes inReturn {
  0% {
    top: 25px;
    transform: scale(0);
  }

  60% {
    top: 25px;
    transform: scale(1.1);
  }

  100% {
    top: 25px;
    transform: scale(1);
  }
};

@keyframes outReturn {
  100% {
    top: 25px;
    transform: scale(0);
  }

  0% {
    top: 25px;
    transform: scale(1);
  }
};
