# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/web/build
/functions/lib

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated styles
src/**/*.css
#This one must not be ignored
!src/lib/zoom.js/zoom.css

###
.firebaserc
.idea
.vscode
cors.json
.firebase/
*.log
.runtimeconfig.json
