.load-spinner-container {
  position: fixed;
  top: -70px;
  left: calc(50vw - 42px / 2);
  z-index: 1025;
  transition: top .25s ease-in-out;

  &.show {
    top: 40px;
  }
}


/**
 *  Gallery grid
 **/
@import 'gallery-list-page/gallery-list-page';

/**
 *  Image page
 **/
@import 'photo-page/image-page';