.load-spin-container {
  &.overlay-loading {
    position: fixed;
    top: 20px;
    left: 50%;
    background: white;
    border-radius: 50px;
    animation: overlayLoadingShow .25s ease-in-out;
    z-index: 1045;
  }
}

@keyframes overlayLoadingShow {
  0% { top: -60px }
  10% { top: -60px }
  100% { top: 20px }
}


/**
 *  Gallery grid
 **/
.gallery .photo-item {
  flex: 1 1 200px;
  min-height: 200px;
  margin: 5px;
}

.gallery .photo-item-container {
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 8px 7px 19px rgba(39,44,49,.24),
              1px 2px 4px rgba(39,44,49,.12);
  transform: scale(1);
  transition: box-shadow .2s ease-in-out,
              transform .2s ease-in-out;

  &:hover {
    box-shadow: 8px 14px 30px rgba(39,44,49,.28),
                1px 3px 10px rgba(39,44,49,.16);
    transform: scale(1.02);
  }

  .photo-image {
    border-radius: 4px;
    transition: box-shadow cubic-bezier(0.33, 0, 0.66, 1) .3s;
    background-position: center;
    background-size: cover;

    &::selection {
      background-color: rgba(0, 0, 0, 0);
    }

    & > .square {
      position: relative;
      width: 100%;

      opacity: 0;
      border-radius: 4px;
      text-align: center;

      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}

/**
 *  Image overlay
 **/
.photo-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 1);
  z-index: 1040;
  opacity: 0;
  transition: opacity linear .5s;

  &.show {
    animation: fadeIn .5s;
    opacity: 1;
  }

  .darkmode & {
    background-color: #222;
  }

  .image-view {
    height: 100%;
    float: left;
    transition: width .5s cubic-bezier(0.33, 0, 0.66, 1),
                flex .5s cubic-bezier(0.33, 0, 0.66, 1),
                max-width .5s cubic-bezier(0.33, 0, 0.66, 1);
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }

    .img {
      width: 100%;
      height: 100%;
      background: no-repeat center;
      background-size: contain;
    }

    #img2 {
      position: absolute;
      top: 0;
    }

    &.max-size {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%
    }
  }

  .image-info {
    position: absolute;
    height: 100%;
    float: left;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px 5px;
    top: 0;
    right: 0;
    overflow-y: scroll;
    transition: right .5s cubic-bezier(0.33, 0, 0.66, 1);

    .page-header {
      border-bottom-color: #777;
    }

    &.min-size {
      right: -33.3333%;
    }

    .darkmode & {
      background-color: #111;
      h2, span, strong {
        color: #eee;
      }
    }
  }

  .buttons-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .1s linear;

    &.no-move {
      opacity: 0;
      transition: opacity .5s cubic-bezier(0.33, 0, 0.66, 1);
    }

    .buttons {
      position: absolute;
      top: 10px;
      right: 10px;

      button {
        transition: opacity .2s linear;

        span {
          color: white;
          text-shadow: 0 1px 0 black;
        }
      }
    }

    .change-photo {
      position: absolute;
      top: calc(50vh - 48px);
      color: white;
      text-shadow: 0 1px 0 black;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity .2s linear .1s, right .5s cubic-bezier(0.33, 0, 0.66, 1);

      &:hover {
        opacity: 0.9
      }

      &.prev {
        left: 10px;
      }

      &.next {
        right: 10px;
      }
    }
  }

  .zoom-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    overflow: scroll;

    .zoom-image-info {
      cursor: default;
      position: fixed;
      top: 10px;
      left: 10px;
      color: white;
      font-size: 20px;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/**
 * Page header
 **/
.gallery-header {
  width: 100%;
  left: 0;
  top: 40px;
  height: 300px;
  margin-bottom: 30px;

  & ::selection {
    background: transparent;
  }

  .image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  h1 {
    color: white;
  }

  p {
    color: white
  }

  & > div {
    height: 100%;
    padding: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}
