@import "material_design_colors";

#footer {
  height: 32px;
  background-color: $primary-color-normal;
  box-shadow: rgba(0,0,0,0.4) 0 2px 5px inset;

  a,
  a:hover {
    color: $primary-color-light;
  }

  > div {
    color: $md-grey-100;
    line-height: 30px;
    margin-bottom: 0;
  }

  .links a {
    padding-left: 5px;
    padding-right: 5px;
    color: #DDD;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #FFF;
      transform: scale(1.2);
    }
  }
}
